<% provide(:title, "User Setting") %>

<!--Display the profile setting for user-->

<div class="container-fluid">
  <div class="row content">
    <%= render 'layouts/sidebar' %>

    <div class="col-sm-9">
      <h4><small>PROFILE</small></h4>
      <hr>

      <%= render 'layouts/profile' %>
    </div>
  </div>
</div>