// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.my-custom-scrollbar {
  position: relative;
  height: 1500px;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}

.table{
  text-align: center;
}


.dropbtn {
  background-color: #938f8f;
  color: white;
  //padding: 16px;
  width: 150px;
  font-size: 23px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #cedbcf;
}

#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
  color: black;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #070707;
  min-width: 300px;
  overflow: auto;
  border: 1px solid #5c5a5a;
  z-index: 1;
}

.dropdown-content button {
  text-align: left;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: rgba(255, 255, 255, 0);
}

.dropdown button:hover {
  color: white;
  background-color: #686161;
}

.show {display: block;}