<footer class="footer">
  <div>
    <p>Copyright&copy;2020 | Powered by Tung Hoang Dao - s3624473@student.rmit.edu.au - 80+ level - Group 17:30 Monday</p>
  </div>

    <a href="https://www.facebook.com/kan.kukul" class="fa fa-facebook" target="_blank"></a>
    <a href="#" class="fa fa-twitter" target="_blank"></a>
    <a href="#" class="fa fa-google" target="_blank"></a>
    <a href="#" class="fa fa-linkedin" target="_blank"></a>

</footer>