<%# if logged_in? %>

<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Clock+", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Contact us", "https://mail.google.com/mail/u/0/#inbox", :target =>  "_blank" %></li>
      </ul>
    </nav>
  </div>
</header>

<%# end %>